<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img
    src="https://cdn.shopify.com/s/files/1/0032/5445/2342/products/06_melbourneandregion_ed13_mainmap_closeup_4f9a4c41-626d-460f-b52f-316b37d91bb2_800x.jpg?v=1669332265"
    alt=""
  />
  <ion-card>
    <ion-card-content>
      <p>Address: Fake Add</p>
      <p>Complement: Apt xxx</p>
      <p>Neighborhood: Lorem Ipsum</p>
      <p>Zip Code: 23243</p>
      <p>City Name - Lorem</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="success">Create pickup call</ion-button>
</ion-content>
